{% extends "base_tasks.html" %}

{% block content %}
<div class="container container-fluid">
	<div class="row">
		<div class="col">
			<h1>{{ task.task_text }}</h1>
		</div>
		<div class="col pull-right">
			<button type="button" class="btn btn-outline-primary" onclick="location.href= '{% url 'tasks:edit' task.id %}';">Edit</button>
			<div class="divider"></div>
			<button type="button" class="btn btn-outline-danger" onclick="location.href= '{% url 'tasks:finishTask' task.id %}';">Close</button>
			<div class="divider"></div>
			<button type="button" class="btn btn-success" onclick="location.href= '{% url 'tasks:create' %}';">New Task</button>
		</div>
	</div>
	<div class="row">
		<div class="col">
			{{ task.task_description }}
		</div>
	</div>

<hr>
<div class="row">
	<div class="col-sm-9">
		<h2>Comments</h2>
		{% for comment in comments %}
			<div class="bg-light rounded">
				<div class="m-2">
					<span>{{ comment.comment_text }}</span>
					<p class="text-right small">{{ comment.comment_user.username }} on {{ comment.comment_date | date:"jS F Y H:i"}}</p>
				</div>
			</div>
		{% endfor %}
		<div class="border rounded p-2">
		<h2>Make a comment</h2>
		<form action="" method=POST>
			{% csrf_token %}
			<div class="form-group row">
				<label for="{{ form.comment_text.id_for_label }}" class="col-sm-3 col-form-label">{{ form.comment_text.label_tag }}</label>
				<div class="col-sm-9">
					{{ form.comment_text }}
				</div>
			</div>
			<hr />
			<input class="btn btn-success" type="submit" value="Submit" />
		</form>
		</div>
	</div>
	<div class="col-sm-3 bg-light">
		<h2>Labels</h2>
		<ul>
		{% for label in labels %}
			<li>{{ label.label_text }}</li>
		{% endfor %}
		</ul>
		<hr />
		<h2>Assigned</h2>
		<ul>
		{% for member in members %}
			<li>{{ member.username }}</li>
		{% endfor %}
		</ul>
	</div>
	</div>
</div>
{% endblock %}
