{% extends "base_tasks.html" %}
{% load static %}

{% block content %}
	<div class="container container-fluid">
		<!-- Team members -->
		<h1 class="text-center">Impressum</h1>
		<!-- Team member row -->
		<div class="row justify-content-around">
			<!-- Team member -->
			<div class="col-md-4">
				<img src="{% static 'tasks/img/hund.jpg' %}" class="rounded-circle" alt="Me" style="width:100%">
				<h3 class="text-center">Phillip</h3>
				<h4 class="text-center">Galactic Viceroy of Research Excellence</h4>
				<a href="mailto:phillip@freitagsrunde.org" class="text-center d-block">phillip@freitagsrunde.org</a>
			</div>
			<!-- Team member -->
			<div class="col-md-4">
				<img src="{% static 'tasks/img/hund.jpg' %}" class="rounded-circle" alt="Me" style="width:100%">
				<h3 class="text-center">Levi</h3>
				<h4 class="text-center">Director of Digital Innovation</h4>
				<a href="mailto:levi@freitagsrunde.org" class="text-center d-block">levi@freitagsrunde.org</a>
			</div>
		</div>
		<!-- Team member row -->
		<div class="row justify-content-around">
			<!-- Team member -->
			<div class="col-md-4">
				<img src="{% static 'tasks/img/hund.jpg' %}" class="rounded-circle" alt="Me" style="width:100%">
				<h3 class="text-center">Jannik</h3>
				<h4 class="text-center">He Whose Title Must Not Be Named</h4>
				<a href="mailto:38723343+jreicht@users.noreply.github.com" class="text-center d-block">38723343+jreicht@users.noreply.github.com</a>
			</div>
		</div>
	</div>
{% endblock %}
