{% extends "base_tasks.html" %}

{% block content %}
{% if tasks_list %}
	<div class="container container-fluid">
		<!-- Task list -->
		<ul class="content-list issuable-list"><!--  -->
		{% for task in tasks_list %}
			<!-- Task element -->
			<li>
				<div class="container-fluid container-limited">
					<div class="task-box">
						<div class="task-info-container">
							<div class="row">
								<!-- Task title -->
								<span class="col">
									<a href="{% url 'tasks:detail' task.id %}">{{ task.task_text }}</a>
								</span>
								<!-- Task assignees -->
								<span class="text-right col">
									{% for assignee in task.assignedTo.all %}
									<span class="d-inline-block" tabindex="1" data-toggle="tooltip" data-placement="bottom" title="{{ assignee }}">
										<a href="#" class="badge badge-primary">{{ assignee }}</a>
									</span>
									{% endfor %}
								</span>
							</div>
							<!-- Task information -->
							<div class="row align-items-center">
								<div class="col-sm-8">
									<!-- Due date -->
									{{ task.finished_date }}
									<!-- Labels -->
									{% for label in task.labels.all %}
									<span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="{{ label.label_description }}">
										<a href="#" class="badge badge-pill" style="background-color: {{ label.label_color }}; color: #FFFFFF">{{ label.label_text }}</a>
									</span>
									{% endfor %}
								</div>
								<!-- Progress -->
								<div class="col-sm-4">
									<div class="progress">
	 									<div class="progress-bar" role="progressbar" style="width: {{ task.progress }}%;" aria-valuenow="{{ task.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						</div>
						<!-- In the future, we might use a label for important tasks -->
						{% comment %}
						{% if task.important %}
						<div class="float-right">
							important
						</div>
						{% endif %}
						{% endcomment %}
						<!-- Button to close a task -->
						<button type="button" class="btn btn-outline-danger" onclick="location.href= '{% url 'tasks:finishTask' task.id %}';">Close</button>
					</div>
				</div>
				<!-- Add number of comments-->
			</li>
		{% endfor %}
		</ul>
	</div>
{% else %}
	<p>No tasks are available</p>
{% endif %}

{% endblock %}
