{% extends "base_generic.html" %}

{% block content %}
<div class="container container-fluid">
	<div class="row">
		<div class="col">
			<h1>{{ task.task_text }}</h1>
		</div>
		<div class="col pull-right">
			<button type="button" class="btn btn-primary" onclick="location.href= '{% url 'tasks:edit' task.id %}';">Edit</button>
			<div class="divider"></div>
			<button type="button" class="btn btn-success" onclick="location.href= '{% url 'tasks:create' %}';">New Task</button>
		</div>
	</div>
	<div class="row">
		<div class="col">
		hier kommt noch Zeugs hin
		</div>
	</div>

<hr>

<p>{{ task.task_description }}</p>
<ul>
{% for member in members %}
	<li>{{ member.username }}</li>
{% endfor %}
</ul>
<h2>Comments</h2>
</ul>
{% for comment in comments %}
	<li>{{ comment.comment_text }}, {{ comment.comment_user.username }}</li>
{% endfor %}
</ul>

<h2>Make a comment</h2>
<form action="" method=POST>
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Submit" />
</form>

<h2>Labels</h2>
{% for label in labels %}
	<li>{{ label.label_text }}</li>
{% endfor %}
</div>

{% endblock %}
