{% extends "base_tasks.html" %}
{% load static %}

{% block content %}
	<div class="container container-fluid">
		<h1>Impressum</h1>
		<div class="row justify-content-around">
			<div class="col-md-4">
				<img src="{% static 'tasks/img/hund.jpg' %}" class="rounded-circle" alt="Me" style="width:100%">
				<h3 class="text-center">Phillip</h3>
				<h5 class="text-center">phillip@freitagsrunde.org</h5>
			</div>
			<div class="col-md-4">
				<img src="{% static 'tasks/img/hund.jpg' %}" class="rounded-circle" alt="Me" style="width:100%">
				<h3 class="text-center">Levi</h3>
				<h5 class="text-center">levi@freitagsrunde.org</h5>
			</div>
		</div>
	</div>
{% endblock %}
