{% extends "base_tasks.html" %}

{% block content %}
<div class="container">
	<h1>Create new task</h1>
	<form action="" method=POST>
		{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-group row">
			<label for={{ form.task_text.id_for_label }} class="col-sm-2 col-form-label">{{ form.task_text.label_tag }}</label>
			<div class="col-sm-10">
				{{ form.task_text }}
			</div>
		</div>
		<div class="form-group row">
			<label for={{ form.task_description.id_for_label }} class="col-sm-2 col-form-label">{{ form.task_description.label_tag }}</label>
			<div class="col-sm-10">
				{{ form.task_description }}
			</div>
		</div>
		<hr />
		<div class="form-group row">
			<label for={{ form.assignedTo.id_for_label }} class="col-sm-2 col-form-label">{{ form.assignedTo.label_tag }}</label>
			<div class="col-sm-4">
				<select class="form-control" multiple="multiple" style="width: 100%" name="{{ form.assignedTo.name }}" id="{{ form.assignedTo.auto_id}}">
      					{% for member in members %}
						<option value="{{ member.id }}">{{ member.username }}</option>
					{% endfor %}
				</select>	
			</div>
			<label for={{ form.finished_date.id_for_label }} class="col-sm-2 col-form-label">{{ form.finished_date.label_tag }}</label>
			<div class="col-sm-4">
				<input type="date" name="{{ form.finished_date.name}}" min="1000-01-01" max="3000-12-31" class="form-control">
			</div>
		</div>
		<div class="form-group row">
			<label for="{{ form.labels.id_for_label }}" class="col-sm-2 col-form-label">{{ form.labels.label_tag }}</label>
			<div class="col-sm-4">
				<select class="select_label_class form-control" multiple="multiple" style="width: 100%" name="{{ form.labels.name }}" id="{{ form.labels.auto_id }}">
				{% for label in labels %}
					<option value="{{ label.id }}">{{ label.label_text }}</option>
				{% endfor %}
				</select>
			</div>
		</div>
		<input class="btn btn-success" type="submit" value="Save" />
		<button type="button" class="btn float-right" onclick="location.href= '{% url 'tasks:index' %}';">Cancel</button>
	</form>
</div>

{% endblock %}

{% block js_stuff %}
	<script>
		$(document).ready(function() {
    			$('#{{ form.assignedTo.auto_id }}').select2({
				width: 'resolve'
			});
		});
		$(document).ready(function() {
			$('.select_label_class').select2({
				width: 'resolve'
			});
		});
	</script>
{% endblock %}
